.ipynb_checkpoints/
.vscode/
datasets/
.env/
.env
notes/imdb_model/
notes/my_bert
notes/my_gpt2_sft_alpaca
rome_gpt/
notes/my_pets_vit/
notes/my_pets_vit
exercises/rome_model.ptnotes/my_pets_vit/checkpoint-345
